:root {
    --accentColor: #767676;
}

* {
    font-size  : 100%;
    font-family: monospace;
}

body {
    display        : flex;
    height         : 100vh;
    width          : 100vw;
    overflow       : hidden;
    margin         : 0;
    flex-direction : column;
    align-content  : center;
    align-items    : center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accentColor);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accentColor);
}

#items {
    width     : 40vw;
    max-height    : 40vh;
    overflow-y: scroll;
}

.block {
    display    : flex;
    padding    : 10px 10px;
    align-items: center;
}

#clock {
    text-align    : center;
    font-size     : 4em;
    padding-bottom: 40px;
}

input.label {
    width        : 100%;
    border       : 0;
    border-bottom: 1px solid var(--accentColor);
    margin       : 0 20px;
}

textarea:focus,
input:focus {
    outline: none;
}

input[type="checkbox"] {
    width : 1.75em;
    height: 1.75em;
}