body {
    display        : flex;
    height         : 100vh;
    width          : 100vw;
    overflow       : hidden;
    margin         : 0;
    flex-direction : column;
    align-content  : center;
    align-items    : center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #767676;
}

::-webkit-scrollbar-thumb:hover {
    background: #767676;
}

#items {
    width     : 40vw;
    height    : 40vh;
    overflow-y: scroll;
}

.block {
    display: flex;
    padding: 10px 10px;
}

input.label {
    width        : 100%;
    border       : 0;
    border-bottom: 1px solid #767676;
}

textarea:focus,
input:focus {
    outline: none;
}